{{ define "Description" }}

{{end}}


{{ define "main" }}


<body>


    <script src="js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
    diameter: 56,
    backgroundColor: 'rgb(23, 72, 152)',
    textColor: '#fff'
      })
    </script>



  <div class="container">
    
    <br/><br/>

    <div class="row">
    	<h3 class="tbh3">Welcome to RSE South!</h3>
    </div>
    
    <br/>
        
    <div class="row">
        <h4 class="tbh4">A regional community of Research Software Engineers (RSEs) within the UK South.</h4>
        
        <p class="myptag" align="justify">
        RSE South is a regional research software engineering (RSE) network.
        Founded in early 2022, RSE South aims to bring RSEs and RSE groups in the South of the UK together to network, collaborate and to share RSE skills and resources.
        The network aims to reach institutions located in the South of the UK, focusing on groups outside of the existing London RSE network.
        </p>
    </div>
    
    <br/>
    
    <div class="row">
		<h4 class="tbh4">Get involved</h4>

		<p class="myptag" align="justify">
        The network is open to and welcomes RSEs or RSE Groups and any new members passionate about research software from the UK South.
        If you would like to join RSE South and our associated mailing list, please get in touch! Contact: <a href="mailto:m.b.broadbridge@reading.ac.uk">Maria Broadbridge</a> 		
		</p>
     	<p class="myptag" align="justify">
        You can also join our "#rse-south slack" channel in the <a href="https://join.slack.com/t/ukrse/signup">RSE Society's slack workspace</a>. 
		</p>
     
	</div>
	</div>
    
    <br/><br/>
    <br/><br/>

</body>
    
    
    
{{ end }}
